
<table class=" table table-striped table-bordered  border-primary ">
  <thead  class = 'thead-dark'>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Address</th>
      <th scope="col">Gender</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= friend.first_name %></td>
      <td><%= friend.last_name %></td>
      <td><%= friend.email %></td>
      <td><%= friend.phone %></td>
      <td><%= friend.address %></td>
      <td><%= friend.gender %></td>
      <td><%= friend.city %></td>
      <td><%= friend.state %></td>
    </tr>
  </tbody>
</table>






















<!--
  <p>
    <strong>First name:</strong>
    <%= friend.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= friend.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friend.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= friend.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= friend.address %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= friend.gender %>
  </p>

  <p>
    <strong>State:</strong>
    <%= friend.state %>
  </p>


  <p>
    <strong>City:</strong>
    <%= friend.city %>
  </p>

-->

